*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html{
    font-size: 62.5%;
}




/* Cintillo superior de información */

body {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

.cintillo {
    background-color: black;
    height: 44px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cintillo__lista {
    list-style: none;
    display: flex;
    align-items: center;
    margin-left: 20px;
    padding: 0;
}

.cintillo__item {
    display: flex;
    align-items: center;
    margin-left: 5px;
    margin-right: 20px;
}

.icon {
    width: 24px; /* Ajusta el tamaño según tus necesidades */
    height: 24px;
    background-size: cover;
    margin-right: 10px;
}

.icon--ubicacion {
    background-image: url('./Iconos/ubicacion.png');
    margin-left: 20px;
}

.icon--telefono {
    background-image: url('./Iconos/telefono.png');
}

.icon--correo {
    background-image: url('./Iconos/correo.png');
}

.cintillo__text {
    margin: 0;
    color: white;
    font-size: 1.6rem;
    /* Ajusta estilos adicionales para las etiquetas <p> si es necesario */
}

.cintillo__derecha {
    display: flex;
    align-items: center;
}

/* Agregamos estilos para los elementos de la derecha */
.red-social {
    width: 24px; /* Ajusta el tamaño según tus necesidades */
    height: 24px;
    background-color: rgb(0, 0, 0); /* Colocamos un color de fondo como marcador de posición */
    margin-right: 40px; /* Ajusta el margen derecho según tus necesidades */
}

.linkedin {
    background-image: url('./Iconos/linkedin.png');
}

.facebook {
    background-image: url('./Iconos/facebook.png');
}

.instagram {
    background-image: url('./Iconos/instagram-ligth.png');
}

.boton-login {
    background-color: rgb(0, 0, 0); /* Colocamos un color de fondo como marcador de posición */
    color: rgb(255, 255, 255);
    border: none;
    padding: 5px 10px;
    margin-right: 50px;
    cursor: pointer;
}
/* Aquí termina el css del cintillo informativo superior */


/* Espacio para el logo */
.logo-container {
    text-align: center; /* Centra el contenido horizontalmente */
    margin-top: 20px; /* Ajusta según sea necesario para dar espacio entre el cintillo y el logo */
}

.logo {
    width: 150px;
    height: 150px;
    /* Agrega estilos adicionales según sea necesario */
}




/* Menú de navegación */

nav {
    text-align: center; /* Centra el contenido horizontalmente */
}

.main-nav {
    list-style: none;
    padding: 0;
}

.main-nav__item {
    display: inline-block;
    margin: 0 50px; /* Ajusta según sea necesario para dar espacio entre elementos del menú */
}

.main-nav__item a {
    text-decoration: none;
    color: black;
    font-size: 1.8rem; /* Ajusta según sea necesario */
}

/* Otros estilos según sea necesario */

/* Resto de tus estilos ... */
.main-nav {
    margin: 20px;
    list-style: none; 
    padding-left: 0;
}

.main-nav__item{
    display: inline-block;
}

.main-nav__item a{
    text-decoration: none;
    color: rgb(65, 65, 65);
}

/* Aquí termina la sección del NAV */


/*Apartir de aquí iniciamos con el main y sus secciones*/

/*Primer sección Banner Principal*/
.main-content {
    background-image: url('./Iconos/imagenprueba.svg'); /* Reemplaza con la ruta correcta a tu imagen de fondo */
    background-size: cover;
    background-position: center;
    height: 782px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.main-content__container {
    margin-right: 60px; /* Ajusta según sea necesario */
    text-align: right;
}

.main-content__title {
    font-size: 3.6rem; /* Ajusta según sea necesario */
    font-weight: 300;
    margin-bottom: 10px;
    color: #fc8f01;
}

.main-content__subtitle {
    font-size: 6rem; /* Ajusta según sea necesario */
    font-weight: 900;
    color: #ffffff; /* Puedes cambiar el color según tus preferencias */
    white-space: pre-line; /* Esto permite que los saltos de línea en el código fuente generen saltos de línea en la pantalla */
}

.main-content__button {
    background: transparent;
    border: 2px solid #ff9900;
    color: #fff;
    padding: 15px 30px;
    font-size: 1.8rem;
    border-radius: 10px;
    cursor: pointer;
    position: absolute;
    bottom: 15px; /* Distancia desde la parte inferior del contenedor */
    left: 50%;
    transform: translateX(-50%);
    /*Hay que realizar cambios en la tipografía, asì como el tamaño de la misma
    además de dar unsalto de linea a la segunda frase*/
}

/* Aquì termina la sección del banner pincipal*/

/*Inicio de la sección de iconos indormarivos Naranjas*/
.bullet-section {
    background-color: #212121;
    width: 100%;
    height: 425px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.bullet-box {
    text-align: center;
}

.bullet {
    width: 100px; /* Ajusta el tamaño del icono según sea necesario */
    height: 100px;
    margin-bottom: 8px; /* Espacio entre el icono y el texto */
    fill: white; /* Color del icono */
}

.bullet-text {
    color: white; /* Color del texto */
    font-size: 2rem;
}

/*Final de sección bullets*/

/*inicio de sección Conózcanos Techno Potencia*/
.full-width-container {
    width: 100%;
    height: 888px;
    display: flex;
}

.half-width-box {
    width: 50%;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.left-box {
    background-color: #ff9900;
    color: #fff;
}

.right-box {
    background-color: #212121; /* O cualquier color de fondo para la caja derecha */
    padding: 0px;
}

/* Estilos adicionales según necesidades */
.left-box h2 {
    font-size: 4rem;
    margin-bottom: 60px;
}

.left-box p {
    margin-bottom: 10px;
    font-size: 2rem;
}

.left-box ul {
    list-style-type: disc;
    padding-left: 20px;
    margin-top: 10px;
    font-size: 1.8rem;
}

.right-box img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Para que la imagen se ajuste manteniendo las proporciones */
}
/*Final de sección Conózcanos Techno Ptencia*/

