*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}



/* Cintillo superior de información */

body {
    margin: 0;
    padding: 0;
}

.cintillo {
    background-color: black;
    height: 44px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cintillo__lista {
    list-style: none;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
}

.cintillo__item {
    display: flex;
    align-items: center;
    margin-left: 5px;
    margin-right: 20px;
}

.icon {
    width: 24px; /* Ajusta el tamaño según tus necesidades */
    height: 24px;
    background-size: cover;
    margin-right: 10px;
}

.icon--ubicacion {
    background-image: url('./Iconos/ubicacion.png');
    margin-left: 20px;
}

.icon--telefono {
    background-image: url('./Iconos/telefono.png');
}

.icon--correo {
    background-image: url('./Iconos/correo.png');
}

.cintillo__text {
    margin: 0;
    color: white;
    font-size: 16px;
    /* Ajusta estilos adicionales para las etiquetas <p> si es necesario */
}

.cintillo__derecha {
    display: flex;
    align-items: center;
}

/* Agregamos estilos para los elementos de la derecha */
.red-social {
    width: 24px; /* Ajusta el tamaño según tus necesidades */
    height: 24px;
    background-color: rgb(0, 0, 0); /* Colocamos un color de fondo como marcador de posición */
    margin-right: 30px; /* Ajusta el margen derecho según tus necesidades */
}

.linkedin {
    background-image: url('./Iconos/linkedin.png');
}

.facebook {
    background-image: url('./Iconos/facebook.png');
}

.boton-login {
    background-color: rgb(0, 0, 0); /* Colocamos un color de fondo como marcador de posición */
    color: rgb(255, 255, 255);
    border: none;
    padding: 5px 10px;
    margin-right: 50px;
    cursor: pointer;
}






/* Menú de navegación */

.main-nav {
    margin: 20px;
    list-style: none; 
    padding-left: 0;
}

.main-nav__item{
    display: inline-block;
}

.main-nav__item a{
    text-decoration: none;
    color: rgb(65, 65, 65);
}